<% layout("/layouts/boilerplate") -%>
<body>
    <br><br>
    <h3 class="offset-2"><u>Create a new listing</u></h3>
    <div class="row">
    <form method="POST"  action="/listings" class="needs-validation" enctype="multipart/form-data"
    novalidate >
     <div class="col-8 offset-2">
     <div class="mb-3">   
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Enter title " type="text" class="form-control" required>
        <div class="invalid-feedback">Please Enter valid title</div>
    </div>
    <div class="mb-3">   
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required ></textarea>
        <div class="invalid-feedback">Description should be under 200 words</div>
    </div>

    <div class="mb-3">   
        <label for="img" class="form-label">Upload Image</label>
        <input name="listing[image]" 
        type="file"
        class="form-control" >
        required
        <div class="invalid-feedback">Please Enter valid image link</div>
    </div>
    <div class="row">
    <div class="col-md-4">
    <div class="mb-3">   
        <label for="price" class="form-label">Price</label>
       <input name="listing[price]"  placeholder="Enter Price " class="form-control" required>
       <div class="invalid-feedback">Please Enter valid price value</div>
    </div>
    </div>
   <div class="col-md-8">
  <div  class="mb-3">   
        <label for="country" class="form-label">country</label>
        <input name="listing[country]" placeholder="Enter country " class="form-control" required>
        <div class="invalid-feedback">Please Enter valid country name</div>
    </div>
    </div>
    </div>
    <div class="mb-3">   
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Enter location " class="form-control" required>
        <div class="invalid-feedback">Please Enter valid location</div>
    </div>

    
    <button class="btn btn-dark add-btn">Add</button>
    <br><br><br><br>
     </div>
    </form>
</div>
</body>
