<%- layout("./layouts/boilerplate.ejs") -%>
    <br><br>
    <h3 class=" col-6 offset-3"><u><h2>Login on wonderlust!!</h2></u></h3>
    <div class="row mt-3">
    <div class="col-6 offset-3">
    <form method="POST"  action="/login" class="needs-validation"
    novalidate >

    <div class="mb-3">   
        <label for="username" class="form-label">Username</label>
        <input name="username"
         placeholder="Enter Username " type="text" 
         class="form-control" required
         id="username">
        <div class="invalid-feedback">Please Enter valid username</div>
    </div>
     <div class="mb-3">   
                <label for="password" class="form-label">Password</label>
                <input name="password"
                 placeholder="Enter password " type="password" 
                 class="form-control" required
                 id="password">
                <div class="invalid-feedback">Please Enter valid password
                </div>
        <br>
        <button class="btn btn-success">Login</button>
    </form>
    </div>
    </div>

    